entrypoint = "main.py"
modules = ["python-3.11", "nodejs-20"]

[nix]
channel = "stable-25_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Budget App Server"

[[workflows.workflow]]
name = "Budget App Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node src/api.js"
waitForPort = 5000

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 33085
externalPort = 5173

[[ports]]
localPort = 34915
externalPort = 3002

[[ports]]
localPort = 34965
externalPort = 3003

[[ports]]
localPort = 36139
externalPort = 5000

[[ports]]
localPort = 36875
externalPort = 3000

[[ports]]
localPort = 46097
externalPort = 4200
